@charset "utf-8";

// Import Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



// GRE Brand Colours
$lapis: #247BA0;
$greensheen: #70C1B3;
$seafoam: #B2DBBF;
$paleyellow: #F3FFBD;
$awesomered: #FF1654;

// Update Bulma's global variables
$family-sans-serif: 'Roboto', sans-serif;
$grey-dark: $greensheen;
$grey-light: $seafoam;
$primary: $lapis;
$link: $greensheen;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $lapis;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import Bulma / FA
@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

// Component Styles
.search-bar {
    margin-bottom: 20px;
}

.media {
    border: 2px solid #70C1B3 !important;
    border-radius: 5px;
    padding: 10px 20px;
    background: white;
    align-items: center;
}

.query-info {
    margin-bottom: 20px;
}

.icon-text{
    padding-left: 5px;
    font-size: 0.8rem;
}

.level-item {
    margin: 0px 20px;
}

.media {
    cursor: pointer;
}

.pagination-list {
    justify-content: center;
    margin-top: 30px;
}

.modal-content {
    width: 90%;
}
